.search-container {
  height: 60px;
  padding: 0 15px;
  input {
    height: 38px;
    line-height: 36px;
    border: 1px solid #cccccc;
    font-size: 14px;
    color: #999999;
    border-radius: 5px;
    width: 100%;
    padding-left: 14px;
    outline: none;
  }
}
