.container {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: #586670;
  padding-top: 20px;
  padding-bottom: 50px;
}

.chat {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: hidden;
  border-radius: 5px;
}
