.chat-sidebar {
  width: 262px;
  background-color: #fff;
  height: 100%;
  border: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
  .filter-toggles {
    display: flex;
    justify-content: space-between;
    .toggle {
      flex: 1;
      text-align: center;
      height: 42px;
      line-height: 40px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      background-color: #f8f8f8;
    }
    .toggle.active {
      background-color: #fff;
      border: 1px solid #f8f8f8;
      border-bottom: 0;
    }
  }
  .container-flex {
    flex: 1;
    overflow-y: scroll;
  }
}
